<ul class="list-group mt-4">
  <% objects.each do |object| %>
    <li class="list-group-item">
      <%= link_to object.full_name, object, data: { turbo_frame: '_top' } %>
      <% if user_signed_in? %>
        <div class="float-end">
          <%= link_to 'Edit', edit_polymorphic_path(object), data: { turbo_frame: '_top' } %>
          <%= link_to 'Delete', polymorphic_path(object), 
                data: { turbo_method: :delete, 
                        turbo_confirm: "Are you sure you want to delete #{object.name}?",
                        turbo_frame: '_top' } %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
