<div class="row mt-4 mb-4">
  <%= form_with url: request.path, method: :get, 
        data: { 
          turbo_frame: 'results',
          turbo_action: 'advance',
          controller: 'form',
          action: 'input->form#submit'
        },
        class: 'd-flex me-4' do |f| %>
    <%= f.text_field :query, class: 'form-control me-2', placeholder: 'Search', autofocus: true %>
  <% end %>
</div>
