<table class="table table-striped mt-3">
  <% objects.each do |object| %>
    <tr>
      <td>
        <%= link_to object.name, object, data: { turbo_frame: '_top' } %>
      </td>
    </tr>
  <% end %>
</table>
