<h1>All Departments</h1>
<% if user_signed_in? %>
  <%= link_to 'Add New Department', new_department_path, class: 'mt-2 btn btn-outline-primary' %>
<% end %>
<%= render 'shared/search' %>
<%= turbo_frame_tag 'results' do %>
  <%= render 'shared/list', objects: @departments %>
<% end %>
