<div class="container text-center">
  <h1><%= @department.name %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'shared/list', objects: @teachers %>
    </div>
  </div>
</div>
