<div class="container text-center">
  <h1><%= @block.name %> Block</h1>
  <div class="row">
    <div class="col">
      <h3>Teaching</h3>
      <%= render 'shared/teacher_cards', objects: @meetings %>
    </div>
    <div class="col">
      <h3>Free</h3>
      <%= render 'shared/free_cards', objects: @free_teachers %>
    </div>
    <div class="col">
      <h3>Open Classrooms</h3>
      <%= render 'shared/free_cards', objects: @free_classrooms %>
    </div>
  </div>
</div>
