<div class="container text-center">
  <h1><%= @block.name %> Block</h1>
  <div class="row">
    <div class="col">
      <h3>Teaching</h3>
      <table class="table table-striped mt-3">
        <% @meetings.each do |meeting| %>
          <tr>
            <td>
              <%= link_to meeting.schedule.teacher.name, meeting.schedule.teacher %> in Classroom
              <%= link_to meeting.classroom.name, meeting.classroom %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col">
      <h3>Free</h3>
      <%= render 'shared/table', objects: @free %>
    </div>
  </div>
</div>
