<h1>All Teachers</h1>
<ul class="mt-4">
  <% @teachers.each do |teacher| %>
    <li>
      <%= link_to "#{teacher.first_name} #{teacher.last_name}", teacher %>
    </a>
  </li>
<% end %>
</ul>
<div class="container">
  <%= link_to 'Add New Teacher', new_teacher_path %>
</div>
