<h1>All Teachers</h1>
<% if signed_in? %>
  <%= link_to 'Add New Teacher', new_teacher_path, class: 'mt-2 btn btn-outline-primary' %>
<% end %>
<%= render 'shared/search' %>
<%= turbo_frame_tag 'results' do %>
  <%= render 'shared/table', objects: @teachers %>
<% end %>
